* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 50%; */
}
body {
  background-color: #ffedd5;
}
.main {
  background-color: #fed7aa;
  margin: auto;
  max-width: 65.5rem;
  border-radius: 0.1875rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.heading {
  grid-column: -1 /1;
}

.main__input {
  display: flex;
  flex-direction: column;
}
.main__charts {
  border: 0.0625rem solid #7c2d12;
}
/* internet help */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/* *------------------------------General components */

.buttons {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}
.button {
  background-color: #7c2d12;
  padding: 0.75rem 1.5rem;
  min-width: 4.375rem;
  border: none;
  border-radius: 0.1875rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover {
  background-color: #431407;
}

input {
  padding: 0.4375rem 0.4375rem;
  border-radius: 0.1875rem;
  border: 0.0625rem solid #7c2d12;
  display: block;
}

img {
  cursor: pointer;
  transition: all 0.3s;
}
img:hover {
  transform: scale(1.1);
}

/* *------------------------------status components */

.heading {
  text-align: center;
  padding: 1.5rem;
  text-transform: uppercase;
  color: #7c2d12;
}
.balance {
  border: 0.0625rem solid #7c2d12;
  border-radius: 0.1875rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0.75rem;
}

.balance__status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.balance__total {
  color: green;
}
.balance__spend {
  color: red;
}
.balance button {
  min-width: 100%;
}
.balance__input {
  display: flex;
  border: 0.0625rem solid #431407;
  border-radius: 0.1875rem;
  overflow: hidden;
  background-color: #7c2d12;
}
.balance__input input {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.balance__input img {
  border-radius: 0;
  transition: all 0.3s;
}
.balance__input img:hover {
  transform: rotate(90deg);
}
/* *------------------------------expense form component*/

.expense__form {
  padding: 0.75rem 0 0.75rem 1.5rem;
  display: grid;
  grid-template-columns: 8.125rem 1fr auto;
  align-items: center;
  gap: 0.75rem;
  transition: all 0.5s;
}
.expense__form label {
  font-size: 1.25rem;
}
.submit__button {
  grid-column: -2/-1;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
/* *------------------------------Render record  component*/

.records {
  border: 0.0625rem solid #431407;
  border-radius: 0.1875rem;
  overflow: auto;
  margin-top: 1.5rem;
  /* height: 100%; */
  height: 34rem;
}
.records table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  min-width: 100%;
}
.records td,
th {
  border-bottom: 0.0625rem solid #9a3412;
  text-align: center;
  padding: 0.5rem;
}
th {
  background-color: #fb923c;
  cursor: pointer;
}
tr:hover {
  background-color: #fffbeb;
  transition: all 0.3s;
}

.action__buttons {
  padding: 1.5rem 0;
  display: flex;
  justify-content: end;
}

/* * some animations */
.hidden {
  position: relative;
  z-index: -999;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.table-input {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
td input {
  width: 6.25rem;
  text-align: center;
  height: 1.5625rem;
}

/* *------------------------------chart  component*/
.main__charts {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.75rem;
}

/* *------------------------------PiChart  component*/
.piChart__box {
  display: flex;
  justify-content: space-around;
  border: 0.0625rem solid #3a2823;
}

.chart__heading {
  color: #3a2823;
  text-align: center;
}
.sub__heading,
.graph__heading {
  margin-bottom: 0.75rem;
  text-align: center;
}
.chart_description {
  align-self: center;
  text-align: center;
  /* border-bottom: .0625rem solid #3a2823; */
}
.pi_chart {
  position: relative;
  height: 15rem;
  width: 17.5rem;
  /* overflow: hidden; */
}
.pi_chart-diagram {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noDataError {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
}
/* *------------------------------Graph  component*/

.graph {
  border: 0.0625rem solid #3a2823;
  height: 100%;
  padding: 1.5rem 0;
}

@media screen and (max-width: 57.25rem) {
  .main {
    /* background-color: #fed7aa;
    margin: auto;
    border-radius: 0.1875rem;
    padding: 1.5rem;
    display: grid; */
    width: 100%;
    grid-template-columns: 1fr;
    /* gap: 1.5rem; */
  }
}

@media screen and (max-width: 26.5625rem) {
  html {
    font-size: 70%;
  }
  .piChart__box {
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
  }
  .balance {
    grid-template-columns: 1fr 1fr;
  }
}
