* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  /* font-size: 50%; */
}
.main {
  background-color: #fed7aa;
  min-width: 37.5rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -0%);
  margin: auto;
  border-radius: 0.1875rem;
  padding: 1.5rem;
}
/* *------------------------------General components */

.buttons {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}
.button {
  background-color: #7c2d12;
  padding: 0.75rem 1.5rem;
  min-width: 4.375rem;
  border: none;
  border-radius: 0.1875rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover {
  background-color: #431407;
}

input {
  padding: 0.4375rem 0.4375rem;
  border-radius: 0.1875rem;
  border: 0.0625rem solid #7c2d12;
  display: block;
}

img {
  cursor: pointer;
  transition: all 0.3s;
}
img:hover{
  transform: scale(1.1);
}

/* *------------------------------status components */

.heading {
  text-align: center;
  padding: 1.5rem;
  text-transform: uppercase;
  color: #7c2d12;
}
.balance {
  border: 0.0625rem solid #7c2d12;
  border-radius: 0.1875rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0.75rem;
}

.balance__status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.balance__total {
  color: green;
}
.balance__spend {
  color: red;
}
.balance button {
  width: 100%;
}
.balance__input {
  display: flex;
  border: 1px solid #431407;
  border-radius: 3px;
  overflow: hidden;
  background-color: #7c2d12;
}
.balance__input input {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.balance__input img {
  border-radius: 0;
  transition: all 0.3s;
}
.balance__input img:hover {
  transform: rotate(90deg);
}
/* *------------------------------expense form component*/

.expense__form {
  padding: 0.75rem 0 0.75rem 1.5rem;
  display: grid;
  grid-template-columns: 8.125rem 1fr auto;
  align-items: center;
  gap: 0.75rem;
  transition: all 0.5s;
}
.expense__form label {
  font-size: 1.25rem;
}
.submit__button {
  grid-column: -2/-1;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
/* *------------------------------Render record  component*/

.records {
  border: 0.0625rem solid #431407;
  border-radius: 0.1875rem;
  height: 25rem;
  overflow: auto;
  margin-top: 1.5rem;
}
.records table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.records td,
th {
  border-bottom: 0.0625rem solid #9a3412;
  text-align: center;
  padding: 0.5rem;
}
th {
  background-color: #fb923c;
  cursor: pointer;
}
tr:hover {
  background-color: #fffbeb;
  transition: all 0.3s;
}

.action__buttons {
  padding: 1.5rem 0;
  display: flex;
  justify-content: end;
}

/* * some animations */
.hidden {
  position: relative;
  z-index: -999;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.table-input{
  display: flex;
  justify-content: center;
}
td input{
  width: 60px;
  text-align: center;
  height: 25px
}