* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: #fed7aa;
  width: 37.5rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -0%);
  margin: auto;
  border-radius: .1875rem;
  padding: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}
.button {
  background-color: #7c2d12;
  padding: .75rem 1.5rem;
  width: 9.375rem;
  border: none;
  border-radius: .1875rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover {
  background-color: #431407;
}
input {
  padding: .4375rem .4375rem;
  border-radius: .1875rem;
  border: .0625rem solid #7c2d12;
  display: block;
}
/* status section */
.heading {
  text-align: center;
  padding: 1.5rem;
  text-transform: uppercase;
  color: #7c2d12;
}
.balance {
  border: .0625rem solid #7c2d12;
  border-radius: .1875rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: .75rem;
}

.balance__status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
}
.balance__total {
  color: green;
}
.balance__spend {
  color: red;
}
.balance button {
  width: 100%;
}

.expense__form {
  padding: .75rem 0 .75rem 1.5rem;
  display: grid;
  grid-template-columns: 8.125rem 1fr auto;
  align-items: center;
  gap: .75rem;
  transition: all 0.5s;
}
.expense__form label {
  font-size: 1.25rem;
}
.submit__button {
  grid-column: -2/-1;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  gap: .3125rem;
}
.records {
  border: .0625rem solid #431407;
  border-radius: .1875rem;
  height: 25rem;
  overflow: auto;
  margin-top: 1.5rem;
}
.records table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.records td,
th {
  border-bottom: .0625rem solid #9a3412;
  text-align: center;
  padding: .5rem;
}
th {
  background-color: #fb923c;
}
tr:hover {
  background-color: #fffbeb;
  transition: all 0.3s;
}

.action_icons img {
  cursor: pointer;
}

.action__buttons {
  padding: 1.5rem 0;
  display: flex;
  justify-content: end;
}

.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
